#container{
    width:250px;
    height: 400px;
    border: 1px solid #7b6b6b;
    border-radius: 15px;
    margin: 0 auto;
    position: relative;
    background: white;
}

#content{
    width:250px;
    height: 346px;
    border-bottom: 1px solid #ccc;
    overflow-y: auto;
}

#content ul{
    margin: 0;
    padding: 0;
}

#Img{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 10px;
    top: 310px;
    border-radius: 15px;
}

#txt{
    margin: 0;
    position: absolute;
    left: 30px;
    top: 360px;
    border-radius: 2px;
    border-bottom: 1px solid #ccc;
    width: 150px;
    height: 18px;
}

#btn{
    margin-right: 10px;
    position: absolute;
    border-radius: 8px;
    margin: 0;
    left: 197px;
    top: 360px;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6698cb', endColorstr='#5c8ab8', GradientType=0 );
}

#back_btn{
    float: right;
    border-radius: 8px;
}

#edit{
    background: #ece7e766;
    width: 250px;
    height: 50px;
}

.showTxt{
    width: auto;
    height: auto;
    max-width: 170px;
    background: #008000a8;
    border: 0;
    font-size: 15px;
    color: white;
    padding: 5px;
    border-radius: 2px;
    word-break: break-all;
    list-style: none;
    margin-top: 5px;
    display: list-item;
}

.left{
    text-align: left;
    margin-left: 50px;
    float: left;
}

.right{
    text-align: left;
    margin-right: 50px;
    background-color: grey;
    float: right;
}

.showImg{
    width: 26px;
    height: 26px;
    border-radius: 13px;
}

.leftImg{
    left: 10px;
    position: absolute;
}

.rightImg{
    right: 5px;
    position: absolute;
}

#scroll{
    position: relative;
}

#frame{
    width: 640px;
    height: 470px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    text-align: center;
    align-items: center;
}

#dialog_frame{
    width: 800px;
    height: 600px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    align-items: center;
}

#ad_frame{
    width: 640px;
    height: 125px;
    border-radius: 20px;
}

#title{
    width:7em;
    font-size:400%;
    font-family:algerian,courier;
    line-height:80%;
}