#login_frame{
    width: 640px;
    height: 320px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #87CEFA;
    border-radius: 20px;
    text-align: center;
    align-items: center;
}