<a href="{{ url_for('catalog')}}">index</a>
<br>
{% block content %}
        {% for post in posts %}
        <div>
                <div style="float:left;display:inline-block;width=200px;">
                <a>
                    {{ post.metadata.name }}
                </a>
                </div>

                <div style="float:left;width=200px;margin-left:100px;">
                    <a href="{{ url_for('list_edit_cm',cm=post.metadata.name)}}" action="" methods="post">
                        edit
                    </a>
                </div>

                <div style="width=200px;margin-left:300px;">
                    <a href="{{ url_for('delete_cm',cm=post.metadata.name)}}">
                        delete
                    </a>
                </div>
        </div>
        {% endfor %}

<h1>create</h1>
    <form action="" method="post" id="form_id">
        {{ form.hidden_tag() }}

        <p>{{ form.submit() }}</p>
        <p>name
            <input name="name" type="text">
        </p>
        <p>doc name 1
        <input name="configname" type="text">
        </p>
        <p>content 1
        <textarea name="configtxt" style="height: 400px;width: 800px"></textarea>
        </p>

    </form>


{% endblock %}
<input type="button" value="添加" onclick="addButton()"/>

<script type="text/javascript">
    var i = 2;
    var cont = document.getElementById("form_id")
    function addButton(){
        var p1 = document.createElement("p");
        var txt1 = document.createTextNode("doc name " + i + " ");
        p1.appendChild(txt1);
        var Newname = document.createElement("input");
        Newname.setAttribute("size",20);
        Newname.setAttribute("type","text");
        Newname.setAttribute("name","configname");
        var p2 = document.createElement("p");
        var txt2 = document.createTextNode("content " + i + " ");
        p2.appendChild(txt2);
        var NewInput = document.createElement("TextArea");
        NewInput.setAttribute('style', 'height: 400px;width: 800px');
        NewInput.setAttribute("type","text");
        NewInput.setAttribute("name","configtxt");
        p1.appendChild(Newname);
        p2.appendChild(NewInput);
        cont.appendChild(p1);
        cont.appendChild(p2);
        i++;
    }

</script>
