<a href="{{ url_for('catalog')}}">index</a>
{% block content %}
<h1>create</h1>
    <form action="create_deployment" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.image.label }}<br>
            {{ form.image(size=32) }}<br>
            {% for error in form.image.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form.app.label }}<br>
            {{ form.app(size=32) }}<br>
            {% for error in form.app.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form.command.label }}<br>
            {{ form.command(size=32) }}<br>
            {% for error in form.command.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form.env.label }}<br>
            {{ form.env(size=32) }}<br>
            {% for error in form.env.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form.port.label }}<br>
            {{ form.port(size=32) }}<br>
            {% for error in form.port.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form.targetport.label }}<br>
            {{ form.targetport(size=32) }}<br>
            {% for error in form.targetport.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.path.label }}<br>
            {{ form.path(size=32) }}<br>
            {% for error in form.path.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <label><input type="radio" checked="checked" name="cm" value="no"/>不挂载configmap</label>

        {% for post in posts %}
            <label><input type="radio" name="cm" value={{ post.metadata.name }} />{{ post.metadata.name }}</label>
        {% endfor %}



        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
