<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
     {% if title %}
    <title><b>{{ title }} - cm</b>></title>
        {% else %}
        <title>log</title>
        {% endif %}
</head>

<form action="list_edit_cm" method="post">
    <br>
       <div>{{title}} : cm
           <a href="{{ url_for('catalog')}}">index</a>
       </div>
       <br> </br>
<div>
    <text>
        <pre>
            <textarea style='height:400px;width:800px'>{{ posts }}</textarea>
        </pre>

    </text>

</div>

    <p>{{ form.submit() }}</p>

</form>


</html>