<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="static/angular-1.7.8/angular.js"></script>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="static/css/login.css"/>
</head>
<body>
    <div id="login_frame" ng-app="loginApp" ng-controller="login_controller">
        <b>Chatbot</b><br>
        <form method="post">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <table>
                            <tbody>
                            <tr>
                                <th width="267" align="right">UserID:</th>
                                <td colspan="2" align="left"><input type="text" ng-model="username" id="username" name="User" style="margin-left: 10px"/></td>
                            </tr>
                            <tr>
                                <th width="267" align="right">Password:</th>
                                <td colspan="2" align="left"><input type="password" ng-model="password" id="password" name="password" style="margin-left: 10px"/></td>
                            </tr>
                            </tbody>
                        </table>
                    </tr>
                    <tr>
                        <td align="center">
                            <input type="submit" width="100%" value="Login"/>
                            <input type="button" width="100%" onclick="jumpToRegister()" value="Register"/>
                            <input type="button" width="100%" ng-click="reset()" value="Reset"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</body>
<script type="text/javascript" src="static/js/login.js">
</script>
</html>